{
 "openapi": "3.0.0",
 "info": {
  "title": "חדש גפן",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "http://sandboxapi.grow.link"
  }
 ],
 "paths": {
  "/api/light/server/1.0/SetAccountDetails": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "SetAccountDetails Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "userId": {
          "type": "string",
          "description": "Required field- Unique identifier refers to every business that is connected and uses Grow payments solutions.\n\n",
          "example": "4ec1d595ae764243"
         },
         "pageCode": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod\n",
          "example": "c34d1f4a546f"
         },
         "backgroundColor": {
          "type": "string",
          "description": "Optional - Defines the background color of the payment page.\n\nFormat: HEX color code (e.g. #FFFFFF)\n\nYou can also configure a default business logo via the business management interface.",
          "example": "#eae0da"
         },
         "buttonColor": {
          "type": "string",
          "description": "Optional - Defines the background color of the payment button.\n\nFormat: HEX color code (e.g. #0285AC)\n\nYou can also configure a default business logo via the business management interface.",
          "example": "#01518e"
         },
         "paymentButtonText": {
          "type": "string",
          "description": "Optional - Sets the text that will appear on the payment button\n\nValidation rules: Up to 20 characters - only letters\n\nYou can also configure a default business logo via the business management interface.",
          "example": "למעבר לתשלום"
         },
         "businessLogo": {
          "type": "string",
          "description": "Required field – Defines the business logo displayed in the payment link.\n\nProvide a valid image URL that will be used as the default logo for the business.\n\nValidations:\n\nMaximum file size: up to 512KB Minimum resolution: 128x128 pixels Supported formats: square, rectangle, or circular images\n\nThe configured logo will be automatically applied to all payment links created by the business.",
          "example": "https://i.postimg.cc/d3kdfbwV/download-2.jpg"
         }
        }
       }
      }
     }
    },
    "parameters": [
     {
      "name": "x-api-key",
      "in": "header",
      "schema": {
       "type": "string"
      },
      "example": "hfBND9mlC28BGvUkwQBls9hypPUIoJIj4Sy6LyUH"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  }
 }
}