{
 "openapi": "3.0.0",
 "info": {
  "title": "בקשת תשלום וביטולה- payment link 19.6",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://sandbox.meshulam.co.il"
  }
 ],
 "paths": {
  "/api/light/server/1.0/createPaymentLink": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "createPaymentLink תיקון",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers for this payment mathod",
          "example": "c34d1f4a546f"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "sum": {
          "type": "integer",
          "example": "1"
         },
         "successUrl": {
          "type": "string",
          "description": "Required field -An after payment \"Thank you\" URL. make sure to use HTTPS and not HTTP. Must use an external URL and not localhost. Example: https://mysite.co.il?success=true",
          "example": "https://mysite.co.il/thank.html?test=1"
         },
         "cancelUrl": {
          "type": "string",
          "description": "Required field -The page users will be redirected to if a payment is cancelled.\n",
          "example": "https://mysite.co.il/thank.html?test=1"
         },
         "description": {
          "type": "string",
          "description": "Required field -Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "notifyUrl": {
          "type": "string",
          "description": "optional Url for server to sever request"
         },
         "pageField[fullName]": {
          "type": "string",
          "description": "Required field - Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "pageField[phone]": {
          "type": "integer",
          "description": "Required field - A valid israeli mobile phone numebr Example: 0500000000",
          "example": "050"
         },
         "pageField[email]": {
          "type": "string",
          "description": "optional -A valid email address",
          "example": "test@gmail.com"
         },
         "sendingMode": {
          "type": "integer",
          "description": "1=SMS,2=Mail",
          "example": "1"
         },
         "messageText": {
          "type": "string",
          "description": "optional  -Message text sent to user."
         },
         "cField1": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.\n\n",
          "example": "test field 1"
         },
         "cField2": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.\n\n",
          "example": "test field 2"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/cancelPaymentLink": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "cancelPaymentLink  תיקון",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "paymentLinkProcessId": {
          "type": "integer",
          "description": "Required field -payment Link Process identifier\n",
          "example": "917577"
         },
         "paymentLinkProcessToken": {
          "type": "string",
          "description": "Required field -payment Link Process identifier\n",
          "example": "5cdc1faa6d7ccb69138f84bc4b57b85a"
         },
         "userId": {
          "type": "string",
          "description": "Required field -Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/approveTransaction": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Approve Transaction  תיקון",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod",
          "example": "38v28496fc91"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier\n",
          "example": "10446"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field -transaction identifier\n",
          "example": "15b8op468fa16m7d814d6bd326924968"
         },
         "transactionTypeId": {
          "type": "integer",
          "description": "Required field - \nCredit card=1\nBit=6\nGoogle Pay=14\nApple Pay=13",
          "example": "1"
         },
         "paymentType": {
          "type": "integer",
          "description": "Required field - \n1-Direct Debit\n2-Regular\n4-Payments",
          "example": "2"
         },
         "sum": {
          "type": "integer",
          "description": "Required field - Sum from server notification\n\n",
          "example": "1"
         },
         "firstPaymentSum": {
          "type": "integer",
          "description": "Required field - The first payment to pay in a multiple payments transaction\n\n",
          "example": "0"
         },
         "periodicalPaymentSum": {
          "type": "integer",
          "description": "Required field - The amount of each payment after the first payment in a multiple payments transaction",
          "example": "0"
         },
         "paymentsNum": {
          "type": "integer",
          "description": "Required field -Current payment number\n",
          "example": "1"
         },
         "allPaymentsNum": {
          "type": "integer",
          "description": "Required field -Total number of payments to be made\n",
          "example": "1"
         },
         "paymentDate": {
          "type": "string",
          "description": "Required field- Payment date\n",
          "example": "01/12/20"
         },
         "asmachta": {
          "type": "integer",
          "description": "Required field -An approval from the credit card company for the payment\n",
          "example": "987654"
         },
         "description": {
          "type": "string",
          "description": "Required field- Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "fullName": {
          "type": "string",
          "description": "Required field -Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "payerPhone": {
          "type": "integer",
          "description": "Required field -A valid israeli mobile phone numebr Example: 0500000000 ",
          "example": "0501234567"
         },
         "payerEmail": {
          "type": "string",
          "description": "Required field -A valid email address",
          "example": "test@gmail.com"
         },
         "cardSuffix": {
          "type": "integer",
          "description": "Required field -Last 4 credit card digits from server notification",
          "example": "1121"
         },
         "cardType": {
          "type": "string",
          "description": "Required field -CardType from server notification\n",
          "example": "Local"
         },
         "cardTypeCode": {
          "type": "integer",
          "description": "Required field -\n1-Local\n2-Foreign\n3-Fuel\n4-Debit\n5-Gift/Rechargeable",
          "example": "1"
         },
         "cardBrand": {
          "type": "string",
          "description": "Required field -The card's brand from server notification\n\n",
          "example": "Visa"
         },
         "cardBrandCode": {
          "type": "integer",
          "description": "Required field -\nMastercard=2\nVisa=3\nIsracard=5\nDiners=8\nDiscover=7\n",
          "example": "3"
         },
         "cardExp": {
          "type": "integer",
          "description": "Required field -Card expiration date from server notification",
          "example": "1023"
         },
         "processId": {
          "type": "integer",
          "description": "Required field -process identifier\n",
          "example": "5632"
         },
         "processToken": {
          "type": "string",
          "description": "Required field -process identifier\n",
          "example": "p9d34ke5bf293desr87d50395893630u"
         },
         "paymentLinkProcessId": {
          "type": "integer",
          "description": "Required field -payment Link Process identifier\n",
          "example": "1234"
         },
         "paymentLinkProcessToken": {
          "type": "string",
          "description": "Required field -payment Link Process identifier\n",
          "example": "ac3f4d3b656d3454545412c5ff33d7030"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/createTransactionWithToken": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Further Payment -Premium Recurring By Token תיקון",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "cardToken": {
          "type": "string",
          "description": "Required field - credit card token .",
          "example": "456456776vgfyvhjbsdkc87s8"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Will be provided by Meshulam for each clearing business Example: 41deb6f1347ee8b2.",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "sum": {
          "type": "integer",
          "description": "Required field - Total amount for payment Example: 10.99.",
          "example": "1"
         },
         "description": {
          "type": "string",
          "description": "Required field - Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "paymentType": {
          "type": "integer",
          "description": "Required field - 2-Regular",
          "example": "2"
         },
         "paymentNum": {
          "type": "integer",
          "description": "Determine payments number. 1-12",
          "example": "1"
         },
         "pageField[fullName]": {
          "type": "string",
          "description": "Required field - Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "pageField[phone]": {
          "type": "string",
          "description": "Required field - A valid israeli mobile phone numebr Example: 0500000000 "
         },
         "pageField[email]": {
          "type": "string",
          "description": "A valid email address",
          "example": "test@gmail.com"
         },
         "cField1": {
          "type": "string",
          "description": "Custom field, you may add up to 9 fields.",
          "example": "my_key123"
         },
         "cField2": {
          "type": "string",
          "description": "Custom field, you may add up to 9 fields.",
          "example": "next456"
         },
         "companyCommission": {
          "type": "number",
          "description": "A different commission than the regular commission Meshulam has. Example: 2.5.\n",
          "example": "2.5"
         },
         "recurringDebitId": {
          "type": "integer",
          "description": "Required field - the given value in the param \"recurringDebitId\" from the respons of the first premiume recurring payment  payment ",
          "example": "1234"
         },
         "transactionGroupIdentifier": {
          "type": "integer",
          "description": "optional - Group identifier for the payment- if you send a value in this field, then a check will be made if there is a succesful payment with this value,  then the request will be rejected .",
          "example": "253"
         },
         "transactionUniqueIdentifier": {
          "type": "integer",
          "description": "Required field - Unique identifier for the request - if we send a value in this field, then a check will be made that this is the first time we see this value for the business. If it finds that a request has been sent with this ID, then the current request will be rejected outright regardless of the status of the first request with this ID.",
          "example": "17663"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  }
 },
 "x-readme": {
  "explorer-enabled": true,
  "proxy-enabled": true
 }
}