{
 "openapi": "3.0.0",
 "info": {
  "title": "grow documentation",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://sandbox.meshulam.co.il"
  }
 ],
 "paths": {
  "/api/light/server/1.0/createPaymentProcess": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Create payment &save token",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "chargeType": {
          "type": "integer",
          "description": "Required field - \n1 - Regular Charge\n2 - Suspended Charge\n3 - Create Token",
          "example": "1"
         },
         "sum": {
          "type": "integer",
          "description": "Required field - Total amount for payment Example: 10.99.",
          "example": "2"
         },
         "successUrl": {
          "type": "string",
          "description": "Required field - An after payment \"Thank you\" URL. make sure to use HTTPS and not HTTP. Must use an external URL and not localhost. Example: https://mysite.co.il?success=true",
          "example": "https://mysite.co.il/thank.html?test=1"
         },
         "cancelUrl": {
          "type": "string",
          "description": "Required field - The page users will be redirected to if a payment is cancelled.",
          "example": "https://mysite.co.il"
         },
         "paymentNum": {
          "type": "integer",
          "description": "optional - Determine payments number. 1-12",
          "example": "10"
         },
         "maxPaymentNum": {
          "type": "integer",
          "description": "optional - Restricting the number of payments. the customer can choose between 1- the value that you choose in this parameter.",
          "example": "12"
         },
         "description": {
          "type": "string",
          "description": "Required field - Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "pageField[fullName]": {
          "type": "string",
          "description": "Required field - Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "pageField[phone]": {
          "type": "string",
          "description": "Required field - A valid israeli mobile phone numebr Example: 0500000000 "
         },
         "pageField[email]": {
          "type": "string",
          "description": "optional - A valid email address",
          "example": "test@gmail.com"
         },
         "cField1": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.",
          "example": "my_key123"
         },
         "cField2": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.",
          "example": "next456"
         },
         "saveCardToken": {
          "type": "integer",
          "description": "Required field - \nif set to 1: the token of client credit card will be sent after payment for running future tokenization payments . \nif you set 0 the token of client credit card wil not be saved .",
          "example": "1"
         },
         "productData[0][catalog_number]": {
          "type": "integer",
          "description": "optional - catalog number for an item in the Invoice ",
          "example": "8787989"
         },
         "productData[0][quantity]": {
          "type": "integer",
          "description": "optional - quantity for an item in the Invoice ",
          "example": "2"
         },
         "productData[0][price]": {
          "type": "integer",
          "description": "optional - price for an item in the Invoice ",
          "example": "1"
         },
         "productData[0][item_description]": {
          "type": "string",
          "description": "optional - item description for an item in the Invoice ",
          "example": "first item description"
         },
         "companyCommission": {
          "type": "number",
          "description": "optional - Float A different commission than the regular commission Meshulam has. Example: 2.5.",
          "example": "2.5"
         },
         "notifyUrl": {
          "type": "string",
          "description": "optional - ",
          "example": "Url for server to sever request"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/approveTransaction": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Approve Transaction",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod",
          "example": "38v28496fc91"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier\n",
          "example": "10446"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field -transaction identifier\n",
          "example": "15b8op468fa16m7d814d6bd326924968"
         },
         "transactionTypeId": {
          "type": "integer",
          "description": "Required field - \nCredit card=1\nBit=6\nGoogle Pay=14\nApple Pay=13",
          "example": "1"
         },
         "paymentType": {
          "type": "integer",
          "description": "Required field - \n1-Direct Debit\n2-Regular\n4-Payments",
          "example": "2"
         },
         "sum": {
          "type": "integer",
          "description": "Required field - Sum from server notification\n\n",
          "example": "1"
         },
         "firstPaymentSum": {
          "type": "integer",
          "description": "Required field - The first payment to pay in a multiple payments transaction\n\n",
          "example": "0"
         },
         "periodicalPaymentSum": {
          "type": "integer",
          "description": "Required field - The amount of each payment after the first payment in a multiple payments transaction",
          "example": "0"
         },
         "paymentsNum": {
          "type": "integer",
          "description": "Required field -Current payment number\n",
          "example": "1"
         },
         "allPaymentsNum": {
          "type": "integer",
          "description": "Required field -Total number of payments to be made\n",
          "example": "1"
         },
         "paymentDate": {
          "type": "string",
          "description": "Required field- Payment date\n",
          "example": "01/12/20"
         },
         "asmachta": {
          "type": "integer",
          "description": "Required field -An approval from the credit card company for the payment\n",
          "example": "987654"
         },
         "description": {
          "type": "string",
          "description": "Required field- Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "fullName": {
          "type": "string",
          "description": "Required field -Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "payerPhone": {
          "type": "integer",
          "description": "Required field -A valid israeli mobile phone numebr Example: 0500000000 ",
          "example": "0501234567"
         },
         "payerEmail": {
          "type": "string",
          "description": "Required field -A valid email address",
          "example": "test@gmail.com"
         },
         "cardSuffix": {
          "type": "integer",
          "description": "Required field -Last 4 credit card digits from server notification",
          "example": "1121"
         },
         "cardType": {
          "type": "string",
          "description": "Required field -CardType from server notification\n",
          "example": "Local"
         },
         "cardTypeCode": {
          "type": "integer",
          "description": "Required field -\n1-Local\n2-Foreign\n3-Fuel\n4-Debit\n5-Gift/Rechargeable",
          "example": "1"
         },
         "cardBrand": {
          "type": "string",
          "description": "Required field -The card's brand from server notification\n\n",
          "example": "Visa"
         },
         "cardBrandCode": {
          "type": "integer",
          "description": "Required field -\nMastercard=2\nVisa=3\nIsracard=5\nDiners=8\nDiscover=7\n",
          "example": "3"
         },
         "cardExp": {
          "type": "integer",
          "description": "Required field -Card expiration date from server notification",
          "example": "1023"
         },
         "processId": {
          "type": "integer",
          "description": "Required field -process identifier\n",
          "example": "5632"
         },
         "processToken": {
          "type": "string",
          "description": "Required field -process identifier\n",
          "example": "p9d34ke5bf293desr87d50395893630u"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/updateDirectDebit": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Update Recurring Payment",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "userId": {
          "type": "string",
          "description": "Required field -Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "2b2e9b70fc98dc6f"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field -transaction identifier\n",
          "example": "94d4a5095f56521c5adbb0c906efbeb2"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field -transaction identifier",
          "example": "32627825"
         },
         "asmachta": {
          "type": "integer",
          "description": "Required field - An approval from the credit card company for the payment",
          "example": "295616074"
         },
         "fullName": {
          "type": "string",
          "description": "optional-Full name must consist of at least two names.",
          "example": "Israel israeli"
         },
         "phone": {
          "type": "string",
          "description": "optional -A valid israeli mobile phone numebr Example: 0500000000 "
         },
         "chargeDay": {
          "type": "integer",
          "description": "optional - 1-31",
          "example": "10"
         },
         "sum": {
          "type": "integer",
          "description": "optional - Total amount for payment Example: 10.99.",
          "example": "12"
         },
         "paymentNum": {
          "type": "integer",
          "description": "optional - 1-48",
          "example": "10"
         },
         "email": {
          "type": "string",
          "description": "optional -A valid email address",
          "example": "changeEmail@gmail.com"
         },
         "changeStatus": {
          "type": "integer",
          "description": "optional -\n1= active 2= canceled",
          "example": "1"
         },
         "updateCard": {
          "type": "integer",
          "description": "optional -\n0= no update 1=update",
          "example": "0"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/settleSuspendedTransaction": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Settle Suspended Transaction",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "userId": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field -transaction identifier\n",
          "example": "10446"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field -transaction identifier\n",
          "example": "a3ffd8a1e628d21b2b057cde9"
         },
         "sum": {
          "type": "integer",
          "description": "Required field -Total amount for payment Example: 10.99.",
          "example": "1"
         },
         "productData[0][catalog_number]": {
          "type": "integer",
          "description": "optional -catalog number for an item in the Invoice ",
          "example": "8787989"
         },
         "productData[0][quantity]": {
          "type": "integer",
          "description": "optional -quantity for an item in the Invoice ",
          "example": "2"
         },
         "productData[0][price]": {
          "type": "integer",
          "description": "optional -price for an item in the Invoice ",
          "example": "1"
         },
         "productData[0][item_description]": {
          "type": "string",
          "description": "optional -item description for an item in the Invoice ",
          "example": "first item description"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/createTransactionWithToken": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Further Payment -Premium Recurring By Token",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "cardToken": {
          "type": "string",
          "description": "Required field - credit card token .",
          "example": "456456776vgfyvhjbsdkc87s8"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Will be provided by Meshulam for each clearing business Example: 41deb6f1347ee8b2.",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "sum": {
          "type": "integer",
          "description": "Required field - Total amount for payment Example: 10.99.",
          "example": "1"
         },
         "description": {
          "type": "string",
          "description": "Required field - Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
          "example": "Course"
         },
         "paymentType": {
          "type": "integer",
          "description": "Required field - 1-Direct Debit, 2-Regular, 4-Payments",
          "example": "2"
         },
         "paymentNum": {
          "type": "integer",
          "description": "Determine payments number. 1-12",
          "example": "1"
         },
         "pageField[fullName]": {
          "type": "string",
          "description": "Required field - Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "pageField[phone]": {
          "type": "string",
          "description": "Required field - A valid israeli mobile phone numebr Example: 0500000000 "
         },
         "pageField[email]": {
          "type": "string",
          "description": "A valid email address",
          "example": "test@gmail.com"
         },
         "cField1": {
          "type": "string",
          "description": "Custom field, you may add up to 9 fields.",
          "example": "my_key123"
         },
         "cField2": {
          "type": "string",
          "description": "Custom field, you may add up to 9 fields.",
          "example": "next456"
         },
         "companyCommission": {
          "type": "number",
          "description": "A different commission than the regular commission Meshulam has. Example: 2.5.\n",
          "example": "2.5"
         },
         "recurringDebitId": {
          "type": "integer",
          "description": "Required field - the given value in the param \"recurringDebitId\" from the respons of the first premiume recurring payment  payment ",
          "example": "1234"
         },
         "transactionGroupIdentifier": {
          "type": "integer",
          "description": "optional - Group identifier for the payment- if you send a value in this field, then a check will be made if there is a succesful payment with this value,  then the request will be rejected .",
          "example": "253"
         },
         "transactionUniqueIdentifier": {
          "type": "integer",
          "description": "Required field - Unique identifier for the request - if we send a value in this field, then a check will be made that this is the first time we see this value for the business. If it finds that a request has been sent with this ID, then the current request will be rejected outright regardless of the status of the first request with this ID.",
          "example": "17663"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/getTokenTransactionsByExternalIdentifiers/": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "getTokenTransactionsByExternalIdentifiers",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "userId": {
          "type": "string",
          "description": "Required field - Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "cardToken": {
          "type": "string",
          "description": "Required field - credit card token .",
          "example": "b91ca50b93c7b402a0665c09e533f6ca"
         },
         "transactionGroupIdentifier": {
          "type": "integer",
          "description": "optional -Group identifier for the payment- if you send a value in this field, then a check will be made if there is a succesful payment with this value, then the request will be rejected ."
         },
         "transactionUniqueIdentifier": {
          "type": "integer",
          "description": "Required field - Unique identifier for the request - if we send a value in this field, then a check will be made that this is the first time we see this value for the business. If it finds that a request has been sent with this ID, then the current request will be rejected outright regardless of the status of the first request with this ID.",
          "example": "2002"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    },
    "description": "Each business has its own unique identifiers - the identifiers on this documentation are for example only.  To integrate with the API, please contact Grow support to obtain the necessary permissions and your unique identifiers."
   }
  },
  "/api/light/server/1.0/getTransactionInfo": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Get Transaction Info",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier",
          "example": "10446"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field - transaction identifier",
          "example": "a3ffd8a1e628d21b2b057cde9"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/getPaymentProcessInfo": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Get Payment Process Info",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "processId": {
          "type": "integer",
          "description": "Required field - process identifier",
          "example": "395235"
         },
         "processToken": {
          "type": "string",
          "description": "Required field - process identifier",
          "example": "7ebb2d0ce6139d8540b6796ffb514"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/refundTransaction": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Refund Transaction",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier",
          "example": "1049"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field - transaction identifier",
          "example": "38ed1514a67a78083a5a1a3d3e7"
         },
         "refundSum": {
          "type": "integer",
          "description": "Required field - total amount to refund",
          "example": "1"
         },
         "stopDirectDebit": {
          "type": "integer",
          "description": "optional - in case this is a direct debit transaction you need to send the value of 1 to stop the upcoming payments",
          "example": "1"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "pageCode": {
          "type": "string",
          "description": "optional - Unique identifier refers to payment mathod\n\n",
          "example": "0b7a16e03b25"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/andriod/1.0/cancelBitTransaction/": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Cancel Bit Transaction",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "9f4c528c7fae"
         },
         "apiKey": {
          "type": "string",
          "description": "Required only for companies that are working with multiple businesses. company's code",
          "example": "57ce86548429"
         },
         "processId": {
          "type": "integer",
          "description": "Required field - process identifier",
          "example": "443829"
         },
         "processToken": {
          "type": "string",
          "description": "Required field - process identifier",
          "example": "5e7343c2e8fad0157701fe8fc657581b"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/SetAccountDetails": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Payment Request",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25",
          "default": "c34d1f4a546f"
         },
         "userId": {
          "type": "string",
          "description": "Required field- Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243",
          "default": "4ec1d595ae764243"
         },
         "backgroundColor": {
          "type": "string",
          "description": "Optional - Defines the background color of the payment page.\n\nFormat: HEX color code (e.g. #FFFFFF)\n\nYou can also configure a default business logo via the business management interface.",
          "example": "https://mysite.co.il/thank.html?test=1",
          "default": "#0285Ac"
         },
         "paymentButtonText": {
          "type": "string",
          "description": "Optional - Sets the text that will appear on the payment button\n\nValidation rules: Up to 20 characters - only letters\n\nYou can also configure a default business logo via the business management interface.",
          "default": "לתשלום"
         },
         "buttonColor": {
          "type": "string",
          "description": "Optional - Defines the background color of the payment button.\n\nFormat: HEX color code (e.g. #0285AC)\n\nYou can also configure a default business logo via the business management interface.",
          "default": "#0285Ac"
         },
         "businessLogo": {
          "type": "string",
          "description": "\nRequired field – Defines the business logo displayed in the payment link.\n\nProvide a valid image URL that will be used as the default logo for the business.\n\nValidations:\n\nMaximum file size: up to 512KB\nMinimum resolution: 128x128 pixels\nSupported formats: square, rectangle, or circular images\n\nThe configured logo will be automatically applied to all payment links created by the business.",
          "example": "10",
          "default": "https://i.postimg.cc/d3kdfbwV/download-2.jpg"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    },
    "operationId": "post_api-light-server-1-0-setaccountdetails",
    "parameters": [
     {
      "in": "header",
      "name": "x-api-key",
      "schema": {
       "type": "string",
       "default": "hfBND9mlC28BGvUkwQBls9hypPUIoJIj4Sy6LyUH"
      }
     }
    ]
   }
  }
 },
 "x-readme": {
  "explorer-enabled": true,
  "proxy-enabled": true
 }
}