{
 "openapi": "3.0.0",
 "info": {
  "title": "עריכה Copy 2",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://sandbox.meshulam.co.il"
  }
 ],
 "paths": {
  "/api/light/server/1.0/createPaymentProcess": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Recuring Payment Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field -Unique identifier refers to payment mathod",
          "example": "6c2a76ed1e85"
         },
         "userId": {
          "type": "string",
          "description": "Required field -Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "chargeType": {
          "type": "integer",
          "description": "optional -\n1 - Regular Charge\n2 - Suspended Charge",
          "example": "1"
         },
         "sum": {
          "type": "integer",
          "description": "Required field -Total amount for payment Example: 10.99.",
          "example": "2"
         },
         "successUrl": {
          "type": "string",
          "description": "Required field - An after payment \"Thank you\" URL. make sure to use HTTPS and not HTTP. Must use an external URL and not localhost. Example: https://mysite.co.il?success=true\n\nDo not include special characters in this field.",
          "example": "https://mysite.co.il/thank.html?test=1"
         },
         "cancelUrl": {
          "type": "string",
          "description": "Required field - The page users will be redirected to if a payment is cancelled.\n\nDo not include special characters in this field.",
          "example": "https://mysite.co.il"
         },
         "paymentNum": {
          "type": "integer",
          "description": "optional- Determine payments number. 2-12",
          "example": "10"
         },
         "maxPaymentNum": {
          "type": "integer",
          "description": "optional -the customer can choose number of payments between 2- to the value that you choose in this parameter.\nThe payments number must be minimum 2\nDetermine Restricting the number of payments",
          "example": "12"
         },
         "description": {
          "type": "string",
          "description": "Required field - Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.\n\nDo not include special characters in this field.",
          "example": "Course"
         },
         "pageField[invoiceName]": {
          "type": "string",
          "description": "optional - the name for the invoice",
          "example": "Jon Jon"
         },
         "pageField[invoiceLicenseNumber] ": {
          "type": "string",
          "description": "optional - Invoice License Number for invoice"
         },
         "pageField[fullName]": {
          "type": "string",
          "description": "Required field - Full name must consist of at least two names.",
          "example": "John Smith"
         },
         "pageField[phone]": {
          "type": "string",
          "description": "Required field - A valid israeli mobile phone numebr Example: 0500000000 "
         },
         "pageField[email]": {
          "type": "string",
          "description": "optional -A valid email address",
          "example": "test@gmail.com"
         },
         "cField1": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.\n\nDo not include special characters in this field.",
          "example": "my_key123"
         },
         "cField2": {
          "type": "string",
          "description": "optional - Custom field, you may add up to 9 fields.\n\nDo not include special characters in this field.",
          "example": "next456"
         },
         "productData[0][catalogNumber]": {
          "type": "integer",
          "description": "optional - catalog number for an item in the Invoice ",
          "example": "8787989"
         },
         "productData[0][quantity]": {
          "type": "integer",
          "description": "optional- quantity for an item in the Invoice ",
          "example": "2"
         },
         "productData[0][price]": {
          "type": "integer",
          "description": "optional - price for an item in the Invoice ",
          "example": "1"
         },
         "productData[0][itemDescription]": {
          "type": "string",
          "description": "optional - item description for an item in the Invoice ",
          "example": "first item description"
         },
         "notifyUrl": {
          "type": "string",
          "description": "optional\n\nDo not include special characters in this field.",
          "example": "Url for server to sever request"
         },
         "invoiceNotifyUrl": {
          "type": "string",
          "description": "optional - Url for invoice\n\nDo not include special characters in this field.",
          "example": "https://yourinvoicewebhookurl.com\n"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/andriod/1.0/cancelBitTransaction/": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Cancel Bit Transaction Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "9f4c528c7fae"
         },
         "processId": {
          "type": "integer",
          "description": "Required field - process identifier",
          "example": "443829"
         },
         "processToken": {
          "type": "string",
          "description": "Required field - process identifier",
          "example": "5e7343c2e8fad0157701fe8fc657581b"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/refundTransaction": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Refund Transaction Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier",
          "example": "425555"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field - transaction identifier",
          "example": "f3095a2579e8654f5234fba0ee0ef09"
         },
         "refundSum": {
          "type": "integer",
          "description": "Required field - total amount to refund",
          "example": "2"
         },
         "stopDirectDebit": {
          "type": "integer",
          "description": "optional - in case this is a direct debit transaction you need to send the value of 1 to stop the upcoming payments",
          "example": "1"
         },
         "userId": {
          "type": "string",
          "description": "Required field - Unique identifier refers to every business that is connected and uses Grow payments solutions.",
          "example": "4ec1d595ae764243"
         },
         "pageCode": {
          "type": "string",
          "description": "optional - Unique identifier refers to payment mathod\n\n",
          "example": "0b7a16e03b25"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/getPaymentProcessInfo": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Get Payment Process Info Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25"
         },
         "processId": {
          "type": "integer",
          "description": "Required field - process identifier",
          "example": "395235"
         },
         "processToken": {
          "type": "string",
          "description": "Required field - process identifier",
          "example": "7ebb2d0ce6139d8540b6796ffb514"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  },
  "/api/light/server/1.0/getTransactionInfo": {
   "post": {
    "tags": [
     "default"
    ],
    "summary": "Get Transaction Info Copy",
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "pageCode": {
          "type": "string",
          "description": "Required field - Unique identifier refers to payment mathod",
          "example": "0b7a16e03b25"
         },
         "transactionToken": {
          "type": "string",
          "description": "Required field - transaction identifier",
          "example": "f3095a2579e86d15f5234fba0ee0ef09"
         },
         "transactionId": {
          "type": "integer",
          "description": "Required field - transaction identifier\n",
          "example": "425855"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {}
      }
     }
    }
   }
  }
 },
 "x-readme": {
  "explorer-enabled": true,
  "proxy-enabled": true
 }
}